html,body {
    background-image: url('https://blobsvc.wort.lu/picture/0f64cae670032222478fd1a29fedeffc/1600/600/crop/0/882/3072/2037/wortv3/ab6ab9a34ff43b1599ffe7b29ec9bb73e09b07b2');
    background-repeat: no-repeat;
    background-size: cover;
   height: 100%;
   margin: 0;
  padding: 0;
  overflow: hidden;
  }



/*quiz answers  */
#wrapper {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper div, #wrapper ul {
    width: 50%;
    max-width: 250px;
}


ul {
    padding: 0px;
}
/* quiz questions */
#title {
    
    margin-top:1.5rem;
    font-size: 2.2rem;
    color: whitesmoke;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family:roboto;
text-align:center;
  }
  
  
/*quiz answers  */
  .alternative {
    font-size:1.4rem;
    list-style-type: none;
    margin-bottom: 4px;
    padding: 10px;
    background: #076b1cb0;
    margin-top: 20px; 
    text-align: center;
    border-radius: 9rem;
    color:white;
    font-family:roboto;
    
  }

.alternative:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color:black;
}
/*score  */
.points {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  font-size:2.4rem;
  font-family:roboto;
  }
  @media (max-width: 1600px) {
    #author {
      font-size: 2.2rem;
      margin: 15px;
    }
    
    #wrapper {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 992px) {
    #author {
      font-size: 2rem;
      margin: 10px;
    }
    
    #wrapper {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 768px) {
    #author {
      font-size: 1.8rem;
      margin: 5px;
    }
    
    #wrapper {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 576px) {
    #author {
      font-size: 1.6rem;
      margin: 2px;
    }
    
    #wrapper {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 480px) {
    #wrapper {
      width: 80%;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    
    #title {
      font-size: 1.4rem;
    }
    
    .alternative {
      font-size: 0.8rem;
      margin-top: 8px;
      padding: 6px;
    }
    
    .points {
      font-size: 1.2rem;
    }
  }
  