#wrapper {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper div, #wrapper ul {
    width: 50%;
    max-width: 250px;
}


ul {
    padding: 0px;
}

#title {
    
    
     font-size: 3.5rem;
      color: #fff200db;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      
      
  }
  
  

  .alternative {
    font-size:1.9rem;
    list-style-type: none;
    margin-bottom: 4px;
    padding: 10px;
    background: #229929f2;
    margin-top: 20px; 
    text-align: center;
    border-radius: 9rem;
  }

.alternative:hover {
    cursor: pointer;
    opacity: 0.8;
}

  
  