.text-box {
    background-color: #076b1cb0;
  padding: 1.5rem;
  border-radius: 9rem;
  text-align: center;
  margin-top: 9rem; 
  margin-bottom: 3rem; 
  width: 65%; 
  margin-left: auto;
  margin-right: auto;
  opacity:initial;
}

#quote {
    margin:10px;
    font-size: 2.1rem;
    color: white;
    margin-bottom: 1.5rem;
  }
  
  #author {
    font-size: 2.6rem;
    color: yellow;
    margin: 10px;
      
  }








