body{
    background-color:rgb(155, 63, 63);
  }
  
  h1 {
      color: pink;
    }
    
    #game-rules {
      color: yellow;
      font-size: 50px; /* Adjust the font size as needed */
    }
    
    button{
      color:#E91E63
    }
  
  